
/**
 *
 * art_guide_main.css - Theme for www.mccauleygallery.com
 *
 */


/* Include padding within the width, instead of in-addition */ 
 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Set up the site for small devices like phones in portrait mode */
/* Designed to look good between 300px and 400px									*/

html {
	width:100%;
  margin:0 auto;
	text-align:center;
	font-family:Helvetica, Arial, sans-serif;
}

body {
 margin:0 auto;
 padding:0
 text-align:center;
 width:100%;
 font-size:14px;
 /* background-color:#d84799; */
}

#page-wrapper {
	margin:0 auto;
	position:relative;
	width:100%;
	text-align:left;
	width:100%;
	max-width:960px;
}

#main {
	float:left;
	width:100%;
}

#main .region-content {
	float:left;
	width:100%;
	padding:0 10px;
}

#header {
	float:left;
	width:100%;
	margin-bottom:.2em;
}

#name-and-slogan {
	font-size:20px;
	float:left;
	padding:20px 0;
	width:100%;
	background-color:#d84799;
	text-align:center;
	margin-top:10px;s
}
#name-and-slogan a {
	color:#e8db17;
}

.region-header {
	float:left;
	width:100%;
}

p {
	margin:.6em 0;
}
	


.region-header ul {
	margin: 15px 0 5px 0;
	padding:0;
	list-style-type:none;
	float:left;
	width:100%;
	text-transform:uppercase;
}

.region-header ul li {
  display:inline;
	float:left;
	margin:0;
	padding:0;
	text-align:center;
	width:25%;
}

.region-header ul li a {
  color: #D84799;
}

.front h1#page-title {
	display:none;
}

.front .node-page .content {
	display:none;
}

.breadcrumb {
	display:none;
}

h1 {
	font-size:22px;
}

h2 {
	font-size:18px;
}

.view-gallleries .views-row h2 a {
	color:#d84799;
	position:relative;
}

.view-gallleries .views-row h2 a img {
	margin-left:2px;
	position:relative;
	top:2px;
}

.view-gallleries .views-row {
	border-top:2px solid #8D8D8D;
}

.node-teaser .locality-block,
.node-teaser .country,
.node-teaser .node-readmore {
	display:none;
}

.node-teaser .field {
	margin-bottom:.4em;
}


.node-venue .field-name-field-main-photo img {
	max-width:100%;
	height:auto;
}

.field-type-email a,
.field-type-url a {
	color:blue;
}


/* Venue Node Page */

.node-type-venue h1 {
	float:left;
	font-size:18px;
	margin:10px 0 10px 10px;
}

.node-type-venue .field {
	margin-bottom:.4em;
}


#block-views-venue-map-block h2, 
#block-views-venue-map-block-1 h2 {
	font-size:14px;
	text-transform:uppercase;
}

#block-views-venue-map-block,
#block-views-venue-map-block-1 {
	margin-top:10px;
}

#block-views-venue-map-block, 
#block-views-venue-map-block-1 {
	float:left;
	width:100%;
}

.node-type-venue #main-wrapper {
	float:left;
	width:100%;
	border-top:2px solid #8D8D8D;
	margin-top:10px;
	padding-top:10px;
}

@media screen and (min-width:500px) {
	
#main {
	padding-left:20px;
	padding-right:20px;
}
.node-teaser .field-name-field-main-photo {
	float:left;
	width:33%;
	max-width:33%;
}	

.node-teaser .field-name-body
{
  float:right;
	width:67%;
	padding-left:15px;
}
.node-teaser .field-name-field-address,
.node-teaser .field-name-field-phone,
.node-teaser .field-name-field-website,
.node-teaser .field-name-field-email {
  float:left;
	width:100%;
}


#block-views-venue-map-block,
#block-views-venues-block {
	margin-bottom:30px;
}

.leaflet-popup-content-wrapper {
	font-size:14px;
}

	
}


@media screen and (min-width:720px) {
	
#main {
	padding-left:30px;
	padding-right:30px;
}

.node-teaser .field-name-field-main-photo {
	width:40%;
	max-width:40%
}	

.node-teaser .field-name-body
{
	width:60%;
}


	
}

